<a href="">
    <img src="/share/img/podcastofmystery/wide_POM.jpg" />
</a>

<p class='pod-desc'>
    Broadcasting from Seattle in the heart of the Pacific Northwest, <a href="https://jasonrigden.com/">Jason Rigden</a> hosts <i>The Podcast of Mystery</i>. 
    The show that always leaves you with more questions than answers. 
    The podcast where we talk with extraordinary guests about the paranormal, the strange, and the unknown.
    Join us as we explore the edges of our reality and test the limits of human understanding.
</p>
<div id="radio-widget">
    <audio id="radio-player" preload="none">
        <source
        src=" http://icecast.weirdfm.net:8000/podofmystery.mp3"
        type="audio/mpeg"
        />
    </audio>
    <div id="play-button">
        <i class="bi-play-fill"></i>
    </div>
    <div id="radio-info">
        <div id="station-name" class="white-links">
            <a href="{{base_url}}/radio" class="">The Podcast of Mystery Radio</a>
        </div>
        <div id="current-track"></div>
    </div>
</div>
<div class="button-group">
    <a class="button" href="{{base_url}}/subscribe">Subscribe</a>
    <a class="button" href="{{base_url}}/episodes">Episodes</a>
    <a class="button" href="https://www.patreon.com/podofmystery">Support</a>
    <a class="button" href="{{base_url}}/contact">Contact</a>
    <a class="button" href="{{base_url}}/radio">Radio</a>

    <a class="button" href="https://podofmystery.substack.com/?r=c2qy3&utm_campaign=pub&utm_medium=web&utm_source=copy">News</a>
</div>